@import "./color";
@import "./mixins";
@import "./reset";

header {
  background-color: $sage-green;
  padding: 35px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 125px;
    }

    .user-profile {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;

      .profilePictureBox {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
