<%- include("./partials/header") %>

<form id="login-form" class="form">
  <div class="part-form">
    <label for="email">Email</label>
    <input type="text" name="email" required />
  </div>
  <div class="part-form">
    <label for="password">Password</label>
    <input type="password" name="password" />
    <small id="login-error-msg"></small>
  </div>

  <div class="part-form">
    <p>Not signup yet ? <a class="form-link" href="/register">Register</a></p>
  </div>
  <button class="login-register-btn-form">Login</button>
</form>

<script>
  const loginForm = document.getElementById("login-form");
  const errorMessage = document.getElementById("login-error-msg");

  loginForm.addEventListener("submit", (e) => {
    e.preventDefault();

    errorMessage.innerText = "";
    const email = loginForm.email.value;
    const password = loginForm.password.value;
    const data = {
      email: email,
      password: password,
    };

    fetch("/api/users/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);

        if (data._id) {
          window.location.href = `/dashboard`;
        } else {
          errorMessage.innerText = data["errors"][0]["message"];
        }
      });
  });
</script>

<%- include("./partials/footer") %>
