<%- include("./partials/header") %>

<div class="profile-box">
  <div id="profile-picture-box" class="profile-picture-box"></div>

  <div class="info-card">
    <div class="info-card-part">
      <h2>Firstname :</h2>
      <p id="firstname"></p>
    </div>
    <div class="info-card-part">
      <h2>Lastname :</h2>
      <p id="lastname"></p>
    </div>
    <div class="info-card-part">
      <h2>Email :</h2>
      <p id="email"></p>
    </div>
    <div class="info-card-part">
      <h2>Github :</h2>
      <p id="github"></p>
    </div>
    <div id="downloadCV" class="info-card-part"></div>
    <button id="update-profile-btn">Update</button>
  </div>
</div>

<script>
  const downloadCVContainer = document.getElementById("downloadCV");
  const getProfile = async () => {
    let response = await fetch("/api/users/profile");
    response = await response.json();

    if (response._id) {
      let user = response;
      Object.keys(user)
        .slice(1, 5)
        .forEach((key) => {
          document.getElementById(key).innerText = user[key];
        });

      if (user.cv) {
        let urlParts = user.cv.split("/upload/");
        downloadCVContainer.innerHTML = `<a href= ${urlParts[0]}/upload/fl_attachment/${urlParts[1]} download='cv.pdf'>Download CV</a>`;
      }

      if (response.profilePicture) {
        document.getElementById(
          "profile-picture-box"
        ).innerHTML += `<img src="${response.profilePicture}"> `;
      }
    }
  };
  getProfile();

  const updateProfileBtn = document.getElementById("update-profile-btn");
  updateProfileBtn.addEventListener("click", () => {
    window.location.href = "/updateProfile";
  });
</script>

<%- include("./partials/footer") %>
